.map-container {
    height: 750px;
    width: 80%;
    background-color: #362312;
    border-radius: 20px;
    margin: auto;
    margin-top: 150px;
    margin-bottom: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.map-container .action-btn {
    border: none;
    height: 60px;
    width: 200px;
}

.mycluster1 {
    position: relative;
    border-radius: 50%;
    
    text-align: center;
    font-size: 24px;
    width: 60px; /* Adjust the width as needed */
    height: 60px; /* Adjust the height as needed */
}

.mycluster1 img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.mycluster1 .cluster-text {
    position: absolute;
   
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: white;
    z-index: 2; /* Ensure text is above the image */
}


#map {
    display: none;
}
