.map-container {
    height: 700px;
    width: 70%;
    background-color: #362312;
    border-radius: 20px;
    margin: auto;
    margin-top: 150px;
    margin-bottom: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.map-container .action-btn {
    border: none;
    height: 60px;
    width: 200px;
}