section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
}


/********** Home ************/

.home {
    gap: 80px;
}

.home img {
    height: auto;
    width: 450px;
}

.home h1 {
    font-size: 40px;
    color: white;
    font-weight: 400;

}

/********** Home ************/


/*** Shoeprint Container ***/

.shoeprint-container { 
    position: absolute;   
    min-height: 0; 
}

.shoeprint-container img {
    height: auto;
    width: 100px;
    position: absolute;
}

#shoe1 {
    left: 950px;
    bottom: 80px;
}

#shoe2 {
    width: 160px;
    left: 850px;
}

#shoe3 {
    width: 170px;
    left: 700px;
    top: 20px;
    right: 50px;
}

#shoe4 {
    width: 170px;
    top: 100px;
    right: 800px;
}

/*** Shoeprint Container ***/

/****** Choose a Park ******/
.choose-park {
    margin-top: 180px;
    min-height: 0;
}

.choose-park-container {
    /* border: 2px solid red; */
    width: 80%;
    z-index: 1;
}

.choose-park-container h2 {
    color: white;
    font-weight: 400;
    font-size: 45px;
}

.park-icon-container { 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    height: 400px;
    width: 100%;
    background-color: #ffffff4a;
    border-radius: 20px;
    margin-top: 30px;
    box-shadow: 5px 10px 8px 10px rgba(0, 0, 0, 0.1); 
}

.park-icon-container img {
    height: auto;
    width: 250px;
    transition: filter 0.3s ease;
}

.park-icon-container img:hover {
    filter: grayscale(0%) contrast(100%);
}

/****** Choose a Park ******/


/********** Map ************/

.map-container {
    /* border: 2px solid red; */
}

#map {
    height: 650px;
    width: 80%;
    border-radius: 20px;
}

/********** Map ************/

