section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
}

.hidden {
    opacity: 0; 
    transition: all 5s;
}

.show {
    opacity: 1;
}


/********** Home ************/

.home {
    gap: 80px;
}

.home img {
    height: auto;
    width: 450px;
}

.home h1 {
    font-size: 40px;
    color: white;
    font-weight: 400;
}

.home-left .action-btn {
    margin-top: 30px;
    line-height: 60px;
    width: 225px;
}

/********** Home ************/

/****** Choose a Park ******/
.choose-park {
    margin-top: 180px;
    min-height: 0;
}

.choose-park-container {
    width: 80%;
    z-index: 1;
}

.choose-park-container h2 {
    color: white;
    font-weight: 400;
    font-size: 45px;
}

.park-icon-container { 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    height: 400px;
    width: 100%;
    background-color: #ffffff4a;
    border-radius: 20px;
    margin-top: 30px;
    box-shadow: 5px 10px 8px 10px rgba(0, 0, 0, 0.1); 
}

.park-icon-container img {
    height: auto;
    width: 250px;
    transition: filter 0.2s ease;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    transition: 0.2s;
}

.park-icon-container img:hover {
    filter: contrast(100%); /* Remove grayscale and restore full contrast on hover */
    -webkit-filter: contrast(100%); /* WebKit-prefixed version */
}

/****** Choose a Park ******/


@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}