section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
}

.hidden {
    opacity: 0; 
    transition: all 5s;
}

.show {
    opacity: 1;
}


.header {
    height: 100vh;
    width: 100%;
    background-image: url("../../src/frontend/assets/header-background.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: #043B4B;
}

#logo{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

#logo img {
    height: auto;
    width: 40px;
}

.header-body {
    height: 100%;
    width: 100%;
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 15%;
    padding-left: 12%;
    /* border: 2px solid red; */
    height: 100%;
    width: 50%;
    gap: 10px;
    white-space: nowrap;
}

.intro p {
    font-size: 50px;
    color: white;
    position: relative;
}

.img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid red; */
    height: 100%;
    width: 40%;
    padding-top: 5%;
    padding-right: 60px;
    padding-bottom: 50px;
}

.header-body .img-container img {
    height: auto;
    width: 400px;
}

.text-break {
    display: none;
}

/********** Home ************/

.home {
    gap: 80px;
}

.home img {
    height: auto;
    width: 450px;
}

.home h1 {
    font-size: 40px;
    color: white;
    font-weight: 400;
}

.home-left .action-btn {
    margin-top: 30px;
    line-height: 65px;
    width: 225px;
}

/********** Home ************/

@media(max-width: 1000px) {
    #truck {
        padding-top: 80px;
        width: 350px;
    }
}

@media(max-width: 780px) {
    #truck {
        padding-top: 100px;
        width: 300px;
    }

    .intro {
        padding-left: 7%;
    }

    .intro p {
        font-size: 55px;
        overflow-wrap: break-word;
    }

    .text-break {
        display: inline;
    }
}

@media(max-width: 480px) {
    .header {
        background-color: #043B4B;
    }


    .header-body {
        flex-direction: column;
    }

    .intro {
        width: 100%;
        justify-content: center;
        align-items: center;
        padding-top: 150px;
        /* border: 2px solid red;*/
        padding-right: 3%;
    }

    .intro p {
        font-size: 48px;
    }

    .intro .action-btn {
        width: 85%;
        align-items: center;
    }

    .img-container {
        width: 100%;
        align-items: flex-start;
        padding: 0;
    }
}

