
/********** Home ************/



/********** Home ************/

/********** Map ************/

.map-container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid red;
}

#map {
    height: 650px;
    width: 80%;
    border-radius: 20px;
}

/********** Map ************/

